@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --animate-spin-slow: spin 15s linear infinite;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-gradient {
    @apply bg-gradient-to-r from-indigo-500 to-purple-500 bg-clip-text text-transparent;
  }

  .border-gradient {
    @apply relative rounded-xl border-transparent bg-white dark:bg-zinc-950 bg-clip-padding;
  }

  .border-gradient::before {
    content: "";
    @apply absolute inset-0 -z-10 m-[-1px] rounded-xl bg-gradient-to-r from-indigo-500 to-purple-500;
  }
}